altgraph==0.17
certifi==2020.12.5
chardet==4.0.0
chardet2==2.0.3
cssselect2==0.4.1
distlib==0.3.4
filelock==3.4.2
idna==2.10
inputimeout==1.0.4
lxml==4.6.3
macholib==1.14
Pillow==8.2.0
platformdirs==2.5.0
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
PySimpleGUI==4.43.0
reportlab==3.5.59
requests==2.25.1
six==1.16.0
svglib==1.0.1
tabulate==0.8.9
tinycss2==1.1.0
urllib3==1.26.5
virtualenv==20.13.1
webencodings==0.5.1
